  .frequently-asked-questions {

	background:url(../img/section-bg1.jpg) center center no-repeat;

	background-size:cover;

	padding:55px 0;

	text-align:center;

  }



  .frequently-asked-questions h2{

  	font-family: 'Montserrat', sans-serif;

	font-weight:700;

	padding:0;

	margin:20px 0 70px;

	text-transform:uppercase;

	font-size:26px;

	color:#fff;

  }

  .frequent-questions-part{

	background:url(../img/section-bg1.jpg) center center no-repeat;

	background-size:cover;

	padding:55px 0;

	text-align:center;

}

.frequent-questions-haead{

	color:#fdfdfd;

	/*color:black;*/

	font-size:16px;

	line-height:29px;

	margin:30px 0 10px;

	font-family: ''Open Sans',sans-serif';

	font-style: italic;

}

.frequent-questions{

	padding:0;

	margin:20px 0 0;

	list-style:none;

	text-align:center;

}

.frequent-questions-quote-right{

	font-style:normal;

	width:68px;

	height:68px;

	margin:0 auto;

	border:2px solid #7cc576;

	border-radius:50%;

	display:block;

	line-height:68px;

	text-align:center;

	font-size:27px;

	color:#7cc576;

	cursor: pointer;

	transition:all 0.3s ease-in-out;

	-moz-transition:all 0.3s ease-in-out;

	-webkit-transition:all 0.3s ease-in-out;

}



.frequent-questions-quote-right:hover{

color: #fff;

border: 2px solid #fff;

}



.c-logo-part{

	background:#7cc576;

	padding:25px 0;

    filter: alpha(opacity=60);

}

.c-logo-part ul{

	padding:0;

	margin:0;

	list-style:none;

	text-align:center;

}

.c-logo-part ul li{

	display:inline;

	margin:0 25px;

}

.c-logo-part ul a{

	display:inline-block;

	margin: 0 20px;

}

.main-section.team{

	padding:85px 0;

}

.main-section.team h6{

	margin-bottom:40px;

}

/*

Custom panel css START

*/

.panel {

	background-color: transparent;

	border:0;

	box-shadow: none;

	

}

.panel-default > .panel-heading {

	color: white;

	background-color: transparent;

	border:0;

	box-shadow: none;

	text-align: left;	

}

.panel-title {

	font-size: 18px;

}

/*

Custom panel css END

*/