 /*-----------------------------------------------------
---------- Hamburger Menu Styling Starts --------------
------------------------------------------------------*/



/* ----- Hamburger Menu Styling and Animation  ------*/

.nav-trigger {
  width: 40px;
  height: 40px;
	z-index: 111;
  position: fixed;
  right: 10px;
	top: 30px;
	background-color: while;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .7s cubic-bezier(.77,0,.175,1);
  -moz-transition: .7s cubic-bezier(.77,0,.175,1);
  -o-transition: .7s cubic-bezier(.77,0,.175,1);
  transition: .7s cubic-bezier(.77,0,.175,1);
  cursor: pointer;
}

.nav-trigger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 21px;
  background: #111;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-trigger span:nth-child(1) {
  top: 0px;
  background-color: white;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-trigger span:nth-child(2) {
  width: 26px;
  top: 8px;
  background-color: white;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-trigger span:nth-child(3) {
  top: 16px;
  background-color: white;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-trigger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  left: 4px;
}

.nav-trigger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-trigger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 4px;
}


/*-----------------------------------------------------
----------- Hamburger Menu Styling Ends ---------------
------------------------------------------------------*/

/* ------ Nav Menu Styling -----*/

#nav-menu {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 110;
  width: 75%;
  background-color: black;
	background-size: cover;
	overflow-y: auto;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .6s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .6s;
    transition: transform .4s 0s, visibility 0s .6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}


#nav-menu .navigation {
  margin-top: 150px;
  margin-bottom: 20px;
}


#nav-menu li {
  padding-bottom: 1em;
}

#nav-menu li {
  display: block;
  line-height: 2em;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
  padding-bottom: 1em;
  color: #222;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	transform: translateX(50px);
	-webkit-transition: .8s 0s;
  -moz-transition: .8s 0s;
    transition: .8s 0s;
}

#nav-menu a {
  position: relative;
  color: white;
	text-decoration: none;
}


#nav-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #072DEF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#nav-menu li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.no-touch #nav-menu a:hover {
  color: #000;
	text-decoration: none;
}


/* ----- Dimming Main Content When Navigation is Active -----*/

.main::before {
    display: block;
    content: "";
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -moz-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -o-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    transition: opacity 0.5s ease, height 1ms 0.5s ease;
}

.main.is-active.main::before{
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5 s ease;
    height: 100%;
    opacity: 1
}


#nav-menu.is-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-overflow-scrolling: touch;
}


#nav-menu.is-active {
	opacity: .5;
	visibility: visible;
	/*background:url(../img/pw_maze_black_2X.png) left top repeat;*/
	-webkit-transition: opacity .4s 0s, visibility 0s 0s;
  -moz-transition: opacity .4s 0s, visibility 0s 0s;
  transition: opacity .4s 0s, visibility 0s 0s;
}


#nav-menu.is-active li {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: .8s 0s;
  -moz-transition: .8s 0s;
    transition: .8s 0s;
}

#nav-menu .copyright-text {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 200;
	text-align: center;
  letter-spacing: 1px;
  padding: 20px 20px;
}

.nav-social ul {
  padding: 0.5em;
  list-style-type: none;
	text-align: center;
}

.nav-social li {
  display: inline !important;
  padding-left: 1em !important;
}

.nav-social i, .nav-social a {
  font-size: 21px;
  color: #072DEF;
}

.nav-social a:before {
  display: none;
}

@media only screen and (min-width: 768px) {

	#nav-menu {
	  width: 50%;
	}

  #nav-menu .navigation {
    margin-top: 150px;
  }

	#nav-menu li {
	  font-size: 24px;
	  text-align: center;
	  padding-left: 0em;
	}

  .nav-social ul {
    padding: 0.4em;
  }
}